.top{
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
    color:dodgerblue;

}
.file_button_container,
.file_button_container input {
    background: transparent url(http://i.stack.imgur.com/BT5AB.png) left top no-repeat;
    height: 47px;
    width: 263px;
}

.file_button_container {
    background: transparent url(http://i.stack.imgur.com/BT5AB.png) left top no-repeat;
}

.file_button_container input {
    opacity: 0;
}
